@font-face 
{
	font-family: "Montserrat";
	src: url("https://resources.fodsoft.com/fonts/montserrat.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
} /* Montserrat, Designed by Julieta Ulanovsky, Sol Matas, Juan Pablo del Peral, Jacques Le Bailly */

.header-fodsoft 
{
    background: #ececec;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: visible;
}

.logo-header-fodsoft 
{
    position: relative;
    width: 64px;
    height: 40px;
}

.logo-fodsoft-header 
{
    position: absolute;
    left: -10px;
    bottom: -20px;
    height: 64px;
    z-index: 10;
}

.links-header-fodsoft
{
	display: flex;
	align-items: center;
	gap: 25px;
}

.link-header-fodsoft
{
	text-decoration: none;
	font-weight: 600;
	color: #333;
	font-size: 1.1rem;
}
/* FODSOFT(TM). Neo Fodere de Frutos. All rights reserved. */


