@font-face
{
	font-family: 'montserrat';
	src: url('montserrat.ttf')
	format('truetype');
}

@font-face
{
	font-family: 'Acme'; 
	src: url('acme.ttf') 
	format('truetype');
}

header
{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	white-space: nowrap;
	box-sizing: border-box;
	overflow: hidden;
}

body.light-theme header
{
	background-color: #dcdcdc;
	color: #000000
}

body.dark-theme header 
{
	background-color: #3a3a3a; 
	color: #ffffff;
}

.header-fodfru 
{
  background-image: url('https://resources.fodsoft.com/gelatina_fodfru.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

body 
{ 
	font-family: 'montserrat', sans-serif;
	margin: 0; 
	padding: 0;
	display: flex; 
	flex-direction: column; 
	min-height: 100vh; 
}

body.light-theme 
{
  background: linear-gradient(270deg, #ebebeb, #ffcccc, #ebebeb);
  background-size: 600% 600%;
  animation: mover-claro 15s ease infinite;
  color: #000000;
}

body.dark-theme 
{
  background: linear-gradient(270deg, #282828, #4a4a4a, #282828);
  background-size: 600% 600%;
  animation: mover-oscuro 15s ease infinite;
  color: #ffffff;
}

.body-fodfru
{
    background-image: url('https://resources.fodsoft.com/fondo_fodfru.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main
{
	flex: 1;
}

.titulo
{
	margin-left: 40px;
}

.titulo-soft
{
	margin-left: 40px; 
	margin-top: 80px;
}

.invertir-color 
{
	filter: invert(100%);
}

.bordes 
{
	border-radius: 10px;
}

.foto-nf 
{
  width: 17%;
  border-radius: 170px;
  float: right;
  margin-right: 30px;
  margin-top: 80px;
  animation: subir-bajar 3s ease-in-out infinite;
}

.icono-principal 
{
  width: 35%;
  margin-top: 90px;
  margin-left: 30px;
  animation: subir-bajar 3s ease-in-out infinite;
}

.icono-app 
{
  width: 17%;
  float: right;
  margin-right: 30px;
  margin-top: 80px;
  animation: subir-bajar 3s ease-in-out infinite;
}

.logo-app 
{
  width: 25%;
  float: left;
  margin-left: 30px;
  margin-top: 80px;
  animation: subir-bajar 3s ease-in-out infinite;
}

.imagen-completa 
{
  width: 100%;
  height: auto;
  display: block;
}

.main-fodsoft
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body.dark-theme footer 
{
	background-color: #3a3a3a; 
	color: #ffffff;
}

body.light-theme footer 
{ 
	background-color: #dcdcdc; 
	color: #000000;
}

.logo-principal 
{
	width: 170px;
	height: auto;
    cursor: pointer;
    position: relative;
	pointer-events: none;
}

nav 
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
	width: 100%;
}

nav a 
{
    color: inherit;
    text-decoration: none;
    margin: 0 10px;
}

#selector-idioma 
{
    font-size: 15px;
	font-family: 'montserrat', sans-serif;
    padding: 5px;
    border-radius: 10px;
    background-color: #6f6f6f;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.juego-destacado 
{
	position: relative; 
	overflow: hidden;
	align-self: stretch; 
}

.contenedor-video 
{
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.botones 
{
  position: absolute;
  top: 88%;
  left: 3%;
  display: flex;
  gap: 20px;
  z-index: 2;
  animation: animacion-imagen 2s ease-out;
}

.btn-a 
{
  padding: 7px 20px;
  font-size: 25px;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  background-color: #e0e0e0;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-b 
{
  padding: 7px 20px;
  font-size: 25px;
  font-family: montserrat, sans-serif;
  font-weight: bold;
  background-color: #6f6f6f;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-a:hover,
.btn-b:hover
{
  transform: scale(1.2);
}

.desc-dest
{
  position: absolute;
  top: 55%;
  left: 2%;
  max-width: 450px;
  padding: 20px;
  z-index: 2;
  color: white;
  font-family: montserrat, sans-serif;
  line-height: 1.6;
  text-align: left;
  animation: animacion-imagen 2s ease-out;
}

.juego-destacado video
{
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(0.85);
  pointer-events: none;
}

.fondo-superpuesto
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.juego-destacado .logo-fodfru
{
    position: absolute;
    bottom: 45%;
    left: 3%;
    width: 30%;
    height: auto;
	animation: animacion-imagen 2s ease-out;
	z-index: 2;
	pointer-events: none;
}

.juego-destacado .logo-ng-titulo
{
    position: absolute;
    bottom: 80%;
    left: 3%;
    width: 12%;
    height: auto;
    animation: animacion-imagen 2s ease-out;
	z-index: 2;
	pointer-events: none;
}

.software-grid
{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	align-items: flex-start;
	justify-content: center;
	margin: 25px;
}

.software-grid-app
{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	align-items: flex-start;
	justify-content: flex-end;
	margin: 25px;
	animation: animacion-imagen 1.5s ease-out;
}

.caratula-contenedor 
{
	text-align: center; 
	width: 275px;
}

.caratula
{
	width: 100%;
	height: auto;
	border-radius: 30px;
	border: 2px solid #ccc;
	transition: transform 0.3s ease;
}

.caratula:hover
{
	transform: scale(1.05);
}

.caratula-enlace 
{ 
	text-decoration: none;
}

.caratula-texto
{ 
	margin-top: 10px; 
	font-weight: bold;
}

body.light-theme .caratula-texto 
{
	color: #3a3a3a;
}

body.dark-theme .caratula-texto 
{
	color: #ffffff;
}

footer 
{
	background-color: #3a3a3a;
	color: #ffffff;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
    display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
	position: relative;
    width: auto;
    height: 125px;
    max-height: 125px;
    bottom: 0;
	box-sizing: border-box;
    overflow: hidden;
}

.footer-centro 
{
	flex-grow: 1; 
	text-align: center;
}

.footer-centro img 
{
    max-width: 100px;
    height: auto;
    margin-bottom: 2px;
	pointer-events: none;
}

.footer-centro img.logo-footer 
{
    max-width: 85px;
    height: auto;
    margin-bottom: -2px;
    pointer-events: none;
}

.footer-centro .p 
{ 
	margin: 0; 
	font-size: 13px;
}

.footer-enlaces 
{
	text-align: right; 
	padding-right: 0;
}

.footer-enlaces h2 
{
	margin-bottom: 10px;
}

.footer-enlaces a 
{ 
	margin-left: 10px; 
	display: inline-block;
}

.footer-enlaces img 
{
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
    display: inline-block;
}

.footer-enlaces img .destacado-footer 
{
	width: 110px; 
	height: auto; 
}

.footer-enlaces img:hover 
{
	transform: scale(1.1);
}

.error-404
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

@keyframes animacion-imagen 
{
    0% { transform: translateX(100%); }
    70% { transform: translateX(-10px); }
    90% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

@keyframes subir-bajar 
{
  0% { transform: translateY(0); }
  50% { transform: translateY(25px); }
  100% { transform: translateY(0); }
}

@keyframes mover-claro 
{
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes mover-oscuro 
{
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
/* FODSOFT(TM), NSTUDIOS GAMES(TM). Neo Fodere de Frutos. All rights reserved */

