@font-face 
{
	font-family: "Montserrat";
	src: url("https://resources.fodsoft.com/fonts/montserrat.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
} /* Montserrat, Designed by Julieta Ulanovsky, Sol Matas, Juan Pablo del Peral, Jacques Le Bailly */

.header-fodsoft
{
	background: #ececec;
	border-radius: 12px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	overflow: visible;
}

.logo-header-fodsoft
{
	height: 30px;
	margin-left: -10px;
	position: relative;
	z-index: 2;
}

.logo-fodsoft-header
{
	height: 128px;
}

.links-header-fodsoft
{
	display: flex;
	align-items: center;
	gap: 25px;
}

.link-header-fodsoft
{
	text-decoration: none;
	font-weight: 600;
	color: #333;
	font-size: 1.1rem;
}
/* FODSOFT(TM). Neo Fodere de Frutos. All rights reserved. */



