@font-face 
{
	font-family: "Montserrat";
	src: url("https://resources.fodsoft.com/fonts/montserrat.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
} /* Montserrat, Designed by Julieta Ulanovsky, Sol Matas, Juan Pablo del Peral, Jacques Le Bailly */

.header-fodsoft 
{
    background: #ececec;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: visible;
}

.logo-header-fodsoft 
{
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-fodsoft-header 
{
    height: 70px;
    transform: translateY(10px);
}

.links-header-fodsoft 
{
    display: flex;
    align-items: center;
    gap: 25px;
}

.link-header-fodsoft 
{
    text-decoration: none;
    font-weight: 600;
    color: #333;
    font-size: 1.1rem;
}
/* FODSOFT(TM). Neo Fodere de Frutos. All rights reserved. */
