.header
{
	background: #ececec;
	border-radius: 12px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	overflow: visible;
}

.logo-header 
{
	height: 30px;
	margin-left: -10px;
	position: relative;
	z-index: 2;
}

.links-header
{
	display: flex;
	align-items: center;
	gap: 25px;
}

.link-header
{
	text-decoration: none;
	font-weight: 600;
	color: #333;
	font-size: 1.1rem;
}

body 
{
    background: #f7f7f7;
    margin: 0;
    font-family: Arial, sans-serif;
}
/* FODSOFT(TM). Neo Fodere de Frutos. All rights reserved. */

